/* header */
@import "./../desktop.blocks/header/header.css";
/* highlight-animation */
@import "./../desktop.blocks/highlight-animation/highlight-animation.css";
@import "./../desktop.blocks/highlight-animation/highlight-animation--theme_gray.css";
/* nav */
@import "./../desktop.blocks/nav/nav.css";
@import "./../desktop.blocks/nav/nav__item--theme_gray.css";
/* logo */
@import "./../desktop.blocks/logo/logo.css";
/* btn */
@import "./../desktop.blocks/btn/btn.css";
@import "./../desktop.blocks/btn/btn--nav.css";
@import "./../desktop.blocks/btn/btn--header.css";
@import "./../desktop.blocks/btn/btn--destinations.css";
@import "./../desktop.blocks/btn/btn--get-started.css";
@import "./../desktop.blocks/btn/btn--form.css";
/* destinations */
@import "./../desktop.blocks/destinations/destinations.css";
/* slider */
@import "./../desktop.blocks/slider/slider.css";
/* about-us */
@import "./../desktop.blocks/about-us/about-us.css";
/* review */
@import "./../desktop.blocks/review/review.css";
/* profile */
@import "./../desktop.blocks/profile/profile.css";
/* get-started */
@import "./../desktop.blocks/get-started/get-started.css";
/* subscribe */
@import "./../desktop.blocks/subscribe/subscribe.css";
/* form */
@import "./../desktop.blocks/form/form.css";
/* get-started */
@import "./../desktop.blocks/get-started/get-started.css";


@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
    --container-width: 1270px;
    --container-padding: 15px;
    --secondary: rgba(15, 31, 28, 0.5);
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F6F6F6;
    color: #0F1F1C;
}
.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto;
}
.container__no-right {
    padding-left: calc( (100% - var(--container-width))/2 + var(--container-padding));
}
.page__header{
    padding-top: 44px;
}
.main__destinations{
    padding: 96px 0px 100px;
}

.main__about-us {
    padding-top: 100px;
    padding-bottom: 115px;
}
.main__get-started{
    margin-top: 115px;
    margin-bottom: 65px;
}

.main__subscribe {
    padding-top: 65px;
    padding-bottom: 55px;
}
.page__footer{
    padding-bottom: 60px;
    padding-top: 55px;
}
