
.get-started__block {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    min-height: 581px;
    background: #FFFFFF;
    border-radius: 60px;
}

.get-started__block::after, .get-started__block::before{
    position: absolute;
    width: 63px;
    height: 83px;

    content: "";
}

.get-started__block::after{
    top: 74px;
    right: 80px;

    background-image: url("./../img/get-started/get-started__img-right.svg");
}
.get-started__block::before{
    left: 74px;
    bottom: 56px;

    background-image: url("./../img/get-started/get-started__img-left.svg");
}
.get-started__title {
    font-size: 45px;
    font-weight: 500;
    max-width: 519px;
    padding-bottom: 30px;
    text-align: center;
}

.get-started__desc {
    font-size: 30px;
    font-weight: 400;
    color: var(--secondary);
    max-width: 715px;
    padding-bottom: 60px;
}

.get-started__btn {
    padding: 25px 55px;
    border-radius: 27px;
    font-size: 20px;
    font-weight: 600;
}
