.about-us__row {
    display: flex;
    column-gap: 68px;
}

.about-us__title {
    font-size: 45px;
    font-weight: 500;
    padding-bottom: 35px;
    max-width: 565px;
}

.about-us__img-link {
    width: 478px;
    height: 537px;
    border-radius: 35px;
    object-fit: cover;
}